.img-about {
  height: 15rem;
  object-fit: cover;
}

.card {
  background: linear-gradient(-45deg, #cbd5d6, #c0d0d1, #c5d5d6, #8ad6db);
}

.text-name-about-us {
  margin: 0px;
  background-color: white;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  box-shadow: 0 9px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
