.image-gallery-image {
  height: 25rem;
  object-fit: cover !important;
}

.div-presentation {
  height: 25rem;
  background-size: 100% auto !important;
  width: auto;
}
main {
  max-width: 10000px !important;
}

.div-row {
  background-color: rgba(0, 0, 0, 0.336);
  height: 100%;
}
.div-row > .row {
  max-width: 1300px !important;
}
.title-place {
  color: white;
  margin: 0px;
  font-size: 320%;
  padding: 1rem;
  text-align: center;
}
.div-title-place {
  /* background-color: rgba(255, 255, 255, 0.315); */
  width: 70%;
  border-radius: 8px;
}
.div-title-place2 {
  background-color: rgba(255, 255, 255, 0.315);
  width: 70%;
  padding: 0.5rem;
  border-radius: 8px;
}
.text-white {
  color: white;
  text-shadow: 0 0 2px black;
}
.text-black {
  color: black;
  text-shadow: 0 0 2px white;
}
.text-orange {
  color: #eb6440;
}

.image-gallery-icon:hover {
  color: #eb6440 !important;
}
.image-gallery-thumbnail:hover,
.active {
  border: 3px solid #eb6440 !important;
}

.welcome-place {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0px;
  color: white;
}
.div-btn-see-more button {
  border: 3px solid transparent;
  background-color: #eb6440;
  color: white;
  border-radius: 8px;
  padding: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-bottom: 0.8rem;
}
.div-btn-see-more button:hover {
  background-color: white;
  color: #eb6440;
  border: 3px solid #eb6440;
}

.div-detail-hero p {
  color: white;
}

@media (max-width: 600px) {
  .div-presentation {
    height: 50vh;
  }
}
@media (max-width: 470px) {
  .div-presentation {
    height: 50vh;
  }
}
@media (max-width: 450px) {
  .div-presentation {
    height: 40vh;
  }
}
@media (max-width: 400px) {
  .div-presentation {
    height: 30vh;
  }
}
@media (max-height: 900px) {
  @media (max-width: 420px) {
    .div-presentation {
      height: 31vh;
    }
  }
}

@media (max-width: 521px) {
  .title-place {
    font-size: 190%;
  }

  .div-btn-see-more button {
    width: 5rem;
    font-size: 0.8rem;
  }
  .welcome-place {
    font-size: 0.7rem;
  }
}
@media (max-width: 400px) {
  .title-place {
    font-size: 150%;
  }

  .div-btn-see-more button {
    width: 4.5rem;
    font-size: 0.6rem;
    padding: 0.6rem;
  }
  .welcome-place {
    font-size: 0.5rem;
  }
}

/* .div-box {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border: 0px !important;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
  transition: 0.3s ease-in-out;
  background-color: white;
}
.div-box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.308), 0 10px 10px rgba(0, 0, 0, 0.22);
} */

.btn-add-review {
  background-color: #eb6440;
  color: white;
  border: 3px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.btn-add-review:hover {
  background-color: white;
  border: 3px solid #eb6440;
  color: #eb6440;
}

.form-review input,
.form-review textarea,
.form-review select {
  border: 1px solid black !important;
  border-radius: 0px;
}

.div-tips svg {
  margin-top: 0.2rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  color: #497174;
}

.btn-admin-place,
.div-btn-admin-color > button {
  border: 3px solid transparent;
  border-radius: 7px;
  background-color: #eb6440;
  color: #ffffff;
  padding: 0.4rem;
  margin: 0.5rem;
}

.btn-admin-place:hover,
.div-btn-admin-color > button:hover {
  border: 3px solid #eb6440;
  background-color: white;
  color: #eb6440;
}

.btns-admin {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  padding: 0.7rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.308), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.modal-h-admin {
  background-color: #497174;
  color: white;
}
.modal-b-admin {
  background-color: #d6e4e5;
}
