.copyright-footer {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.container-icon-social img{
   width: 3.2rem;
}

.container-logo img{
   width: 10rem;
}

.cursor-pointer-custom{
    cursor: pointer;
}