.header-color{
   background-color:#EB6440;
}

.container-logo img{
   width: 9rem;
   padding-top: 0.3rem;
   padding-bottom: 0.3rem;
}

/* .container-logo{
   padding-left: 5rem !important; 
} */

.container-icon-social img{
   width: 4.2rem;
}

.container-name img{
   width: 23rem;
}

.container-seeker div{
   width: 12rem;
}