.header-color {
  background: linear-gradient(-45deg, #e47959, #e78f3c, #ffa600, #ff7b00);
}

.container-logo img {
  width: 9rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.anchor-facebook {
  background-color: #3b5998;
  color: white;
  font-size: 2.75rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid transparent;
  transition: ease-in-out 0.7s;
}
.anchor-facebook:hover {
  color: #3b5998;
  background-color: white;
  border: 3px solid #3b5998;
}

.anchor-twitter {
  background-color: #00aced;
  color: white;
  font-size: 2.75rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid transparent;
  transition: ease-in-out 0.7s;
}
.anchor-twitter:hover {
  color: #00aced;
  background-color: white;
  border: 3px solid #00aced;
}

.anchor-instagram {
  background: radial-gradient(
      circle farthest-corner at 60% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% 100%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
  color: white;
  font-size: 2.75rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.7s;
}
.anchor-instagram:hover {
  color: #ffffff;
  border: 3px solid white;
}

@media (max-width: 991px) {
  .anchor-instagram,
  .anchor-facebook,
  .anchor-twitter {
    font-size: 2rem;
    width: 3.5rem;
    height: 3.5rem;
  }
}

.container-seeker div {
  width: 12rem;
}

.title-white {
  font-size: 1.7rem;
  text-shadow: 0 0 2px black;
  color: white;
}

.title-black {
  font-size: 1.7rem;
  color: black;
}

.cursor-pointer-custom {
  cursor: pointer;
}

.form-search a {
  text-decoration: none;
  color: white;
  background-color: black !important;
  width: 20%;
  transition: ease-in-out 1s;
  border: 3px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-search a:hover {
  color: black !important;
  border: 3px solid black !important;
  background-color: white !important;
}
