.header-color{
   background-color:#EB6440;
}

.container-logo img{
   width: 9rem;
   padding-top: 0.3rem;
   padding-bottom: 0.3rem;
}

.container-icon-social img{
   width: 4.2rem;
}

.container-seeker div{
   width: 12rem;
}

.title-white {
   font-size: 1.7rem;
   text-shadow: 0 0 2px black;
   color: white;
}

.title-black {
   font-size: 1.7rem;
   color: black;
}