.div-see-more-btn a {
  text-decoration: none;
  background-color: #eb6540b6;
  color: white;
  padding: 0.6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 5px;
  /* border: 3px solid transparent; */
}
.div-see-more-btn a:hover {
  /* border: 3px solid #eb6440; */
  background-color: rgba(255, 255, 255, 0.637);
  color: #eb6440;
  /* font-weight: bold; */
}

/*  */
.div-categoria {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  /* height: 50rem; */
}

/* .div-container-category {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.075),
      rgba(255, 255, 255, 0.308)
    ),
    url("https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 90%;
  min-height: 28rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-radius: 7px;
} */

.div-link-category {
  width: 90%;
}

.div-link-category a,
.div-seeMore a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-top: 0.7rem;
  padding: 0.5rem;
  width: 13rem;
  height: 5rem;
  text-align: center;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
  border: 3px solid transparent;
}

.div-link-category > div {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 49%;
  border-radius: 10px;
  margin-top: 1rem;
}
.div-link-category > div:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.div-link-category a {
  padding: 0%;
  width: 100%;
  height: 7.5rem;
  margin: 0px;
  transition: ease-in 0.3ms;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: black;
  font-weight: bold;
  /* transform: scale(1.6); */
}

.div-link-category a:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.6);
  width: 3rem;
  /* -webkit-text-stroke: 0.5px black; */
  color: white;
}

.div-seeMore a {
  background-color: #eb6440;
}

.div-seeMore a:hover {
  color: #eb6440;
  background-color: white;
  border: 3px solid #eb6440;
}

.div-advertising img {
  /* width: 90%; */
  height: 65%;
  border-radius: 5px;
}

.div-provinces {
  margin-bottom: 3rem;
}
