.div-see-more-btn a {
  text-decoration: none;
  background: linear-gradient(-45deg, #e47959, #e78f3c, #ffa600, #ff7b00);
  color: white;
  padding: 0.6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 5px;
}
.div-see-more-btn a:hover {
  background: linear-gradient(-45deg, #ffffff, #ffffff, #d4d4d4, #e0e0e0);
  color: #ffa600;
}

/*  */
.div-categoria {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
}

.div-category-advertising {
  margin-top: 2rem;
}

.div-container-category {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.075),
      rgba(255, 255, 255, 0.308)
    ),
    url("https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 90%;
  min-height: 28rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 13px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border: 0px !important;
}

.link-center a {
  position: absolute;
  top: 50%;
  left: 50%;
}

.div-link-category {
  width: 90%;
}

.div-link-category a,
.div-seeMore a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-top: 0.7rem;
  padding: 0.5rem;
  width: 13rem;
  height: 5rem;
  text-align: center;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
  border: 3px solid transparent;
}

.div-link-category > div {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 49%;
  border-radius: 4px;
  margin-top: 1rem;
  box-shadow: 0 13px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border: 0px !important;
}

@media (max-width: 515px) {
  .div-link-category > div {
    width: 100%;
  }

  .div-row-col > div {
    width: 100% !important;
  }
}

.div-link-category > div:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  box-shadow: 0 13px 10px rgba(0, 0, 0, 0.507), 0 10px 10px rgba(0, 0, 0, 0.22);
  border: 0px !important;
}

.div-link-category a {
  padding: 0%;
  height: 7.5rem;
  margin: 0px;
  transition: ease-in 0.3ms;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: black;
  font-weight: bold;
}

.div-link-category a:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.6);
  color: white;
}

.div-seeMore {
  margin-top: 1.5rem;
}

.div-seeMore a {
  background-color: #eb6440;
}

.div-seeMore a:hover {
  color: #eb6440;
  background-color: white;
  border: 3px solid #eb6440;
}

.div-advertising img {
  height: 65%;
  border-radius: 5px;
}

.div-provinces {
  margin-bottom: 3rem;
}

@media (max-width: 1320px) {
  .div-provinces > div > .row > div {
    width: 97%;
  }
}

@media (min-width: 551px) {
  .div-sm-provinces-none {
    display: flex;
    justify-content: center;
  }
  .div-sm-display-block {
    display: none;
  }
}

.div-sm-display-block > .row {
  display: flex;
  justify-content: center;
}
.div-sm-display-block > .row > div {
  height: 11rem !important;
  margin-bottom: 0.1rem;
}

@media (max-width: 650px) {
  .div-sm-provinces-none {
    display: none !important;
  }
  .div-sm-display-block {
    display: block;
  }
}

.div-img-provinces {
  margin: 0.5rem;
}

.div-img-provinces {
  object-fit: cover;
  border-radius: 4px;
  padding: 0.2rem;
  box-shadow: 0 13px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.div-img-provinces a {
  text-decoration: none;
  width: 65%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in 0.3ms;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: white;
  font-weight: bold;
}
.div-img-provinces a:hover {
  transform: scale(3);
  -webkit-transform: scale(1.6);
  color: black;
}

.div-img-provinces:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(100%);
}
/* 
.div-link-category > div:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  box-shadow: 3px 3px #4d2d2486;
}

.div-link-category a {
  padding: 0%;
  height: 7.5rem;
  margin: 0px;
  transition: ease-in 0.3ms;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: black;
  font-weight: bold;
}

.div-link-category a:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.6);
  color: white;
} */
