.carousel-item-custom img {
  object-fit: cover;
  height: 25rem;
  border: 0px !important;
}

.active {
  border: 0px !important;
}

.carousel-item-custom {
  position: relative;
  text-align: center;
  color: white;
}

.carousel-caption-custom {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  width: 100% !important;
  height: 100% !important;
  transform: translate(-50%, -50%) !important;
  background-color: rgba(0, 0, 0, 0.425);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div-see-more-btn a {
  text-decoration: none;
  background: linear-gradient(-45deg, #e47959, #e78f3c, #ffa600, #ff7b00);
  color: white;
  padding: 0.6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 5px;
}
.div-see-more-btn a:hover {
  background: linear-gradient(-45deg, #ffffff, #ffffff, #d4d4d4, #e0e0e0);
  color: #ffa600;
}

.div-category-custom-bg {
  background: linear-gradient(-45deg, #ffffff, #ffffff, #e7e7e7, #eeeeee);
  border-radius: 15px;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.col-icon-category a {
  background: linear-gradient(-45deg, #e47959, #e78f3c, #ffa600, #ff7b00);
  height: 6.5rem !important;
  width: 6.5rem !important;
  color: white;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  border: 3px solid transparent;
  transition: ease-in-out 0.7s;
}

.col-icon-category p {
  font-weight: bold;
  color: #ff7b00;
  transition: ease-in-out 0.7s;
}

.col-icon-category a:hover {
  color: #ff7b00;
  border: 3px solid #ff7b00;
  background: linear-gradient(
    -45deg,
    #ffffffff,
    #ffffffff,
    #ffffffff,
    #ffffffff
  );
}

@media (max-width: 1000px) {
  .col-icon-category a {
    height: 5rem !important;
    width: 5rem !important;
  }
}

@media (max-width: 860px) {
  .col-icon-category a {
    height: 4rem !important;
    width: 4rem !important;
    font-size: 2rem;
  }
}
@media (max-width: 767px) {
  .col-icon-category a {
    height: 6rem !important;
    width: 6rem !important;
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  .col-icon-category a {
    height: 7.6rem !important;
    width: 7.6rem !important;
    font-size: 2.5rem;
  }
  .col-icon-category {
    width: 33.3% !important;
  }

  .title-home-comments-name-user,
  .title-home-comments-date-user {
    font-size: 1rem !important;
  }
}

@media (max-width: 430px) {
  .info-comment-custom-v2 {
    font-size: 10rem !important;
  }
}

@media (max-width: 410px) {
  .col-icon-category {
    width: 50% !important;
  }
}
@media (max-width: 310px) {
  .col-icon-category a {
    height: 5.5rem !important;
    width: 5.5rem !important;
    font-size: 2rem;
  }
}
@media (min-width: 1900px) {
  .col-icon-category a {
    height: 8.5rem !important;
    width: 8.5rem !important;
    font-size: 3.5rem;
  }
  .col-icon-category p {
    font-size: 2rem;
  }
}

.div-place-more-liked {
  overflow-x: auto;
}

.div-img-more-liked {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  opacity: 0.8;
}

.div-img-more-liked:hover {
  opacity: 1;
}

.title-place-more-liked {
  position: absolute;
  top: 12%;
  left: 50%;
  color: black;
  background: linear-gradient(-45deg, #ffffff, #ffffff, #d4d4d4, #e0e0e0);
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.title-place-more-liked b {
  font-size: 0.85rem;
  background-color: #ff7b00;
  min-width: 6rem;
  color: white;
  font-weight: normal !important;
  border-radius: 10px;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.div-img-more-liked img {
  object-fit: cover;
  width: 20rem;
  height: 28rem;
  border-radius: 15px;
  box-shadow: 0 13px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.div-more-place-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.555)),
    url("https://www.catamarcaonline.com/u/fotografias/m/2020/11/8/f608x342-5052_34775_4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 20rem;
}

.text-more-place {
  color: white;
}

.div-about-us-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("https://wallpaperaccess.com/full/1431610.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 25rem;
}

.div-about-us-home a,
.div-more-place-home a {
  color: white;
  background: linear-gradient(-45deg, #e47959, #e78f3c, #ffa600, #ff7b00);
  padding: 0.7rem;
  border-radius: 8px;
  text-decoration: none;
  border: 3px solid transparent;
  transition: 0.3s ease-in-out;
}
.div-about-us-home a:hover,
.div-more-place-home a:hover {
  color: #ff7b00;
  background: linear-gradient(-45deg, #ffffff, #ffffff, #d4d4d4, #e0e0e0);
  border: 3px solid #ff7b00;
}

.div-about-us-home p {
  background-color: white;
  width: 65%;
  color: black;
  transition: 0.3s ease-in-out;
}

@media (max-width: 904px) {
  .div-about-us-home p {
    width: 80%;
  }
  .text-about-us {
    font-size: 1.3rem !important;
  }
}
@media (max-width: 490px) {
  .div-about-us-home p {
    width: 80%;
  }
  .text-about-us {
    font-size: 1rem !important;
    width: 10rem !important;
  }
  .text-about-us2 {
    font-size: 1.2rem !important;
  }
}
@media (max-width: 290px) {
  .div-about-us-home p {
    width: 80%;
  }
  .text-about-us {
    font-size: 0.6rem !important;
    width: 10rem !important;
  }
  .text-about-us2 {
    font-size: 1rem !important;
  }
}

.text-about-us {
  font-weight: bold;
  width: 25%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.text-about-us2 {
  font-size: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.div-advertising img {
  height: 65%;
  border-radius: 5px;
  object-fit: cover;
  margin-left: 2rem;
  margin-right: 4rem;
  box-shadow: 0 13px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.btn-delete-comments {
  top: 12rem;
  left: 65%;
  border: 0px;
  background: linear-gradient(-45deg, #e75555, #eb3232, #d62a2a, #d12d2d);
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50px;
  border: 3px solid transparent;
}

.btn-delete-comments:hover {
  border: 3px solid #d12d2d;
  background-color: #d33939;
}

.btn-delete-comments path {
  color: white;
}
