@media (max-width: 991px) {
  .offcanvas-body,
  .nav-link-custom {
    padding: 0px !important;
  }

  .offcanvas-header {
    background: linear-gradient(-45deg, #5b9ba0, #5a9499, #477174, #497174);
    /* background-color: #497174; */
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .navbar > .container {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .offcanvas-title p {
    font-size: 1.8rem;
    margin: 0px;
  }
}

.navbar-offcanvas {
  background-color: #d6e4e5 !important;
  /* background: linear-gradient(-45deg, #8c9899, #b0bfc0, #c5d5d6, #d6e4e5); */
}
.navbar {
  /* background-color: #d6e4e5; */
  background: linear-gradient(-45deg, #cbd5d6, #c0d0d1, #c5d5d6, #8ad6db);
  display: flex;
}
.navbar-bottom {
  display: flex;
  justify-content: flex-end;
}
.travel {
  color: #eb6440;
}

.nav-link-custom a,
.nav-link-custom p {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
  color: black;
  cursor: pointer;
}
.nav-link-custom a:hover,
.nav-link-custom p:hover {
  background: linear-gradient(-45deg, #5b9ba0, #5a9499, #477174, #497174);
  color: white;
}

.form-search {
  margin-left: 1rem;
  margin-right: 1rem;
}

.form-search button {
  background-color: #eb6440;
  color: white;
  border: 3px solid transparent;
}

.form-search button:hover {
  background-color: white;
  color: #eb6440;
  border: 3px solid #eb6440;
}

@media (max-width: 400px) {
  .form-search input {
  }
}
